@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
input {
	padding: 5px;
	border-radius: 5ch;
	border: transparent;
	margin-top: 5px;
	display: block;
}
#form {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: auto;
	background-color: rgb(126, 126, 126);
	padding: 10px;
	border-radius: 1.5ch;
	align-items: center;
	margin-top: 5px;
	
}
button {
	display: block;
	width: 100px;
	padding: 5px;
}
ul > li {
	display: block;
	width: fit-content;
}
